    .login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .addpost-top
    {
        margin-top:50px;
    }
    .head-bottom-line{
        color: white;
    font-size: small;
    font-family: sans-serif;
    }
    .editCancel{
        margin-left: 50px;
    }
    .saathi-header{
        margin: 0px auto;
        text-align: center;
        background-color: #01524B;
        color: white;
        padding-top: 5px;
        padding-bottom: 20px;
    }
   
    .edit-post{
        height: 18px !important;
        width: 24px !important;
    }
    .adpost-lbl-left{
        text-align: left !important;
    }
    #saathiheadmain{
        margin-top: 21px;
        margin-bottom: 20px;
    }
    .addpost-button{
        background-color: #2db34a;
        color: white;
        margin-top: 15px;
    }
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }

   .main h3 {
   	text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
   }
   .main table {
   	 margin-top: 8px;
    font-size: 13px;
    padding-left: 18px;
   }
   .main .searchHead{
    width:800px; 
    margin:10px auto;
   }
  .main .searchHead input{
    width: 79%;
    margin-left: 16px;
   }
   

   .main .divtable{
    width:800px; 
    margin:0 auto;
   }

   .saathi-head{
       color:#333;
   }
   .saathi-subhead{
        color: #2db34a;
        font-weight: 500;
        font-size: medium;
   }
   .search-box{
    padding-top: 2%;
    margin: 0px auto;
    width: 30%;
    float: none;
   }
   .active .dtp-search{
       margin-left: 0px;
   }
   .active .dtp-search-paging{
       margin-left: 15px;
   }
   .saathi-tabs{       
       background-color: #59BD97;
       border-bottom:1px solid #01524B;
   }
   .saathi-tabs  a{       
       color:black;
       color: inherit;
   }
   .pagination{
       clear: both;
   }
   .saathiError{
       color:red;
   }
   .dtpCol{
       padding-left:0px !important;
   }
   .dtpfiltersel{
    border: none;
    box-shadow: none;
   }
   .saathi-col{
    width:17%
   }
   .saathi-table{
        max-width: none;
    }
   @media only screen and (max-width: 666px) {
    /*body{
        background-color:lightyellow;
    }*/
    .active .dtp-search{
       margin-left: -15px;
   }
    .mob-error{
       margin-left:15px;
   }
   .active .dtp-search-paging{
       margin-left: 0px;
   }
   .mob-showhide{
        display: none;
    }
    /*.small-search {
        display: none;
    }*/
    /*.head-mobile-width{
        width:387px
    }*/
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  text-align: center;
}

      
