<script type="text/javascript">
   /* $(function(){
        console.log($('ul > li:first-child'))
        $('ul > li:first-child').tab('show');
    })*/
</script>

<div ng-controller="saathiCtrl" class="container-fluid">
	<div id="loader" ng-if="showLoader"></div>

	<div class="page-header saathi-header head-mobile-width">
		<h1>SAATHi</h1>
		<div class="head-bottom-line">Spreading Animal Awareness Through Internet</div>
	</div>

	<ul class="nav nav-tabs saathi-tabs head-mobile-width" id="tabs">
		<li class="active"><a data-toggle="pill" href="#Posts">Posts</a></li>		
		<li><a data-toggle="tab" href="#Add">Add Post</a></li>
		<li><a data-toggle="tab" href="#Faq">Faq</a></li>
	</ul>


	<div class="tab-content" ng-view>

		<div class="tab-pane active" id="Posts" class="tab-pane" ng-if="viewData.length">
			<div ng-if="success" class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{success}}</strong>
			</div>
			<div class="searchHead">
				<form class="form-horizontal" role="form">
					<div class="form-group dtp-search">
						<div class="col-xs-12 col-md-4 search-box">
							<input type="text" class="form-control" placeholder="Enter search Text" ng-model="searchKeyword">
						</div>
					</div>
				</form>

				<div class="table-responsive col-md-11 col-xs-2">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Group Name</th>
								<th scope="col">Catagory</th>
								<th scope="col">Post Published Date</th>
								<th scope="col">Post</th>
								<th scope="col">Posted By</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<div ng-if="showdata" class="animate-bottom">
							<tbody>
								<tr ng-repeat="data in viewData.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: searchKeyword">
									<td>{{data.group}}</td>
									<td>{{data.catagory}}</td>
									<td>{{data.postDate | date:'MMMM dd, yyyy'}}</td>
									<td><a target="_blank" href='{{data.postUrl}}'>View Post</a></td>
									<td>{{data.postedBy}}</td>
									<td>
										<img ng-click="open(data)" style="height:18px;width:24px;cursor: pointer; margin-right: 5px;" title="Edit" src="../images/edit.png" alt="Edit">
										<img style="height:18px;width:24px;cursor: pointer;" title="Delete" src="../images/delete.png" alt="Delete">
									</td>
								</tr>
							</tbody>
						</div>
					</table>
				</div>

			</div>
			<diV class="dtp-search-paging">
				<uib-pagination total-items="viewData.length" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
			</diV>
		</div>

		<div class="tab-pane" id="Faq" class="tab-pane divtable">
			0000000000000000000
		</div>
		<div class="tab-pane" id="Add" class="tab-pane divtable">
			<div class="">
				<form class="form-horizontal addpost-top" name="postForm" ng-submit="submitPost(postForm)" novalidate>
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">Post Date:</label>
						<div class="col-sm-10 col-md-3">
							<input id="datepicker" readonly type="text" ng-model="postDate" class="form-control" placeholder="Post Date">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">Post catagory</label>
						<div class="col-sm-10 col-md-3">
							<select class="form-control" ng-model="dataSaathi.catagory" ng-options="item.Id as item.catagory for item in dataSaathi.catagories track by item.Id">
								<option value="" selected="selected">Misc</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">Posted By:</label>
						<div class="col-sm-10 col-md-3">
							<input ng-model="postedBy" type="text" class="form-control" id="pname" placeholder="Name" name="pname">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="pwd">Group Name:</label>
						<div class="col-sm-10 col-md-3">
							<input ng-model="groupName" type="text" class="form-control" placeholder="Group Name" name="groupname">
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': postForm.purl.$touched && postForm.purl.$invalid }">
						<label class="control-label col-sm-2" for="pwd">Post Url<strong class="saathiError"> *</strong></label>
						<div class="col-sm-10 col-md-4">
							<input required ng-model="postUrl" type="text" class="form-control" id="purl" placeholder="Post Url" name="purl">
						</div>
						<div ng-messages="postForm.purl.$error" ng-show="postForm.purl.$touched" class="mob-error">
							<p class="saathiError" ng-message="required">Post url is required.</p>
						</div>
					</div>
					<div ng-disabled="true" class="form-group">
						<div class="col-sm-offset-2 col-sm-10" ng-disabled="postForm.$invalid">
							<!--<button type="button"  class="btn btn-default addpost-button" ng-click="submitPost()">Submit</button>-->
							<button type="submit" class="btn btn-success" ng-disabled="postForm.$invalid">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

</div>